# Compiled Class Files
*.class

# Package Files
*.jar

# Maven Specific
target/

# VS Code Specific
.vscode/

# Package Dependencies
!lib/*.jar

# Logs
*.log

# Python
__pycache__/

# LaTex
*.bbl
*.synctex.gz
